body{
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
a{
    text-decoration: none;
}
/* 距离开始 */
.ml5{
    margin-left: 5px;
}
.mr5{
    margin-right:5px;
}
.mb25{
    margin-bottom: 25px;
}
.mb40{
    margin-bottom: 40px;
}
.mb15{
    margin-bottom: 15px;
}
.mt2{
    margin-bottom: 2px;
}
.mb20{
    margin-bottom: 20px;
}
.ml10{
    margin-left: 10px;
}
.mb10{
    margin-bottom: 10px;
}
.mb15{
    margin-bottom: 15px;
}
.mb25{
    margin-bottom: 25px;
}
/* 距离结束 */

/* 字体开始 */
/* 字体结束 */

/* 浮动开始 */
.fl{
    float: left;
}
.fr{
    float: right;
}
/* 浮动结束 */
/* 清除浮动 */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/* 清除浮动 */


